<!DOCTYPE html>
<html>
  <head>
    <title>MapJobs</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!-- bootstrap js and css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <style>
      html, body, #map-canvas { height: 100%; margin: 0px;padding: 0px; }
      html, body, #content, #map-canvas { height: 100%; margin: 0px;padding: 0px; } 
      .navbar { padding:0px;margin:0px;}
      .off { display:none }
      .on { display:block }
    </style>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle btn btn-default" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand"><img src="/img/logo.png" alt="Map Jobs" /></a>
      </div>
      
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <form id="search-form" class="navbar-form navbar-left" method="post" action="/" role="search">
          <div class="form-group">
            <input id="s" type="text" class="form-control input-md" value="{{s}}" size="75" name="s" placeholder="Search company names, employees, job position, and skills around the area.">
          </div>
          <div class="btn-group">
            <button type="button" onclick="searchMaps()" class="btn btn-primary">Search</button>
          </div>
        </form>
        <div class="btn-toolbar pull-right" style="margin-right:10px;">
          {% if current_user != 'Google Sign in' %}
          <div id="view-results-button" class="btn-group">
            <button onclick="viewList()" type="button" title="View List" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-list"></span></button>
          </div>
          {% endif %}
          <div class="btn-group">
            {% if current_user != 'Google Sign in' %}
            <a href="/profile/" class="btn btn-default navbar-btn" title="Manage Profile"><span class="glyphicon glyphicon-user"></span></a>
            {% endif %}
            <a id="current_user" onmouseover="logoutWarning()" data-title="{{ title }}" onmouseout="removeLogoutWarning()" href="{{ user_url }}" title="{{ title }}" type="button" class="btn btn-primary navbar-btn">{{ current_user }}</a>
          </div>
          <div class="btn-group">
            <a href="https://sites.google.com/a/asteriainteractive.com/map-jobs/" target="_blank" class="btn btn-default navbar-btn" title="How To Use"><span class="glyphicon glyphicon-question-sign"></span></a>
            <a href="https://plus.google.com/+Gcdc2013mapjobsAppspotAI" target="_blank" rel="publisher" class="btn btn-danger navbar-btn">G+</a>
          </div>
        </div>
      </div><!-- .navbar-ex1-collapse -->
    </nav>
    
    <div id="content" class="row">
      <div id="map-canvas" class="col-md-12" style="margin:0px;padding:0px;"></div>
      
      <div id="results" style="float:right;display:none;position:absolute;top:60px;" class="col-md-12">
        <div class="row">
          <div class="col-md-8">
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <ul id="result-tabs" class="nav nav-tabs">
                  <li id="job-results" class="active"><a href="#jobs" >Jobs</a></li>
                  <li id="resume-results" ><a href="#resumes">Resumes</a></li>
                </ul>
                <div class="space">&nbsp;</div>
                <div class="tab-content">
                  <div id="jobs" class="tab-pane active">
                    <div class="alert alert-warning">
                      Use the search box to look for <b>jobs</b>.
                    </div>
                  </div>
                  <div id="resumes" class="tab-pane">
                    <div class="alert alert-warning">
                      Use the search box to look for <b>resumes</b>.
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- #results -->
          </div>
        </div>
      </div><!-- #data -->
      
    </div><!-- #content -->
    
    <script type="text/javascript" src="/js/jquery-1.10.12.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-collapse.js"></script>
    <script type="text/javascript" src="/js/bootstrap-transition.js"></script>
    <script type="text/javascript">
      var viewList = function() {
        //console.log("Open sesame");
        $('#results').toggle();
      }
      
      var logoutWarning = function() {  
        if($('#current_user').hasClass('btn-primary')) { 
          $('#current_user').removeClass('btn-primary');
          $('#current_user').addClass('btn-danger');
        }
      }
      var removeLogoutWarning = function() {
        if($('#current_user').hasClass('btn-danger')) { 
          $('#current_user').removeClass('btn-danger');
          $('#current_user').addClass('btn-primary');
        }
      }
      
      var stopEnterKey = function (evt) {
        var evt = (evt) ? evt : ((event) ? event : null); 
        var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null); 
        if ((evt.keyCode == 13) && (node.type=="text"))  {return false;} 
      }
      document.onkeypress = stopEnterKey;
      
      $('#current_user').tooltip('show')
      
      $('#result-tabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45882676-1', 'gcdc2013-mapjobs.appspot.com');
      ga('send', 'pageview');
    </script>    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAglSWZdjvCud73DMC32rg_tTVMsZLaa9w&sensor=true"></script>
    <script type="text/javascript" src="/js/map.js"></script>
  </body>
</html>



